<% function getTimeStamp(obj) { %>
  <% var newObj = parseInt(new Date(obj).getTime() / 60000) * 60000 %>
  <% var fullTime = new Date(newObj).toLocaleString("en-US", {timeZone: "America/Los_Angeles"}) %>
  <%return fullTime.slice(0, -6) %>
  <%}%>

<div class="header">
  <%document.get('creator').each(function(c) {%>
   Created by <%=c.escape('email')%>
  <%})%>
  <br>
Last edited <%=getTimeStamp(new Date(document.escape('updated_at')))%> by
<%=document.escape('last_editor')%>
<br>
<%if (document.get('sharing_users').length > 0) {%>
  Shared With: <div class="users_list">
    <%document.get('sharing_users').each(function(user) {%>
      <%=user.get('email')%>
  <%})%>
  </div>
<%}%>


</div>

<div class="doc_page">
<textarea id="title<%=document.id%>"><%=document.escape('title')%></textarea>
<br>




<script type="text/javascript">
$("#title<%=document.id%>").wysihtml5();

</script>

<textarea class="body" id="body<%=document.id%>"><%=document.escape('body')%></textarea>

<script type="text/javascript">
$("#body<%=document.id%>").wysihtml5();
</script>
</div>
<br>

<br>
<button data-id="<%=document.id%>">Submit Changes</button>
<br>

<label for="user-input">Share Document</label>
<input type="text" data-provide="typeahead" class="typeahead" autocomplete="off" id="user-input">
<input type="hidden" name="userId" id="userId" value="">
<input type="submit" class="submit_share" data-id="<%=document.id%>" value="share">
<br>
<br>
<a href="#">Documents Index</a>

<script type=text/javascript>
$(function() {
  var users = {};
  var userEmails = [];
  $(".typeahead").typeahead({
    source: function(query, process) {
      $.ajax({
        url: "/users.json",
        type: "get",
        success: function(data) {
          users = {};
          userEmails = [];
          data.forEach(function(item) {
            userEmails.push(item.email);
            users[item.email] = item.id;
          });
          process(userEmails)
        }
      });

    },
    updater: function(item) {
      $("#userId").val(users[item]);
      return item;
    }
  });
  $(".submit_share").on("click", function(event) {
    var docId = parseInt($(this).attr("data-id"))
    var userId = $("#userId").val()
    $.ajax({
      url: "/document_shares.json",
      type: "post",
      data: {document_share: {document_id: docId, user_id: userId}},
      success: function(data) {
        console.log("created")
      }
    });
  });
});
</script>