<h4 id="title<%=document.id%>" contenteditable="true"><%=document.escape('title')%></h4>
<br>
<div id="body<%=document.id%>" contenteditable="true"><%=document.escape('body')%></div>
<br>
<button data-id="<%=document.id%>">Submit Changes</button>
<a href="#">Documents Index</a>